.outer-container {
    position: relative;
    margin: 3%;
}

.song-details {
    margin-top: 2vh;
}

.chart-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-line-measure {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100%;
    border: 2px solid blue;

    .repeat-bar {
        position: absolute;
        width: 1vw;
        height: 100%;
        background-color: grey;
        
        &.start {
            left: 0;

            &.small {
                left: 1.5vw;
                width: .5vw;
            }
        }

        &.end {
            right: 0;

            &.small {
                right: 1.5vw;
                width: .5vw;
            }
        }
    }
}
